<form (ngSubmit)="signup()" [formGroup]="signupForm" novalidate>
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput placeholder="Ex. Jon" formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ex. jon@gmail.com" formControlName="email" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="Enter a password"
      formControlName="password"
    />
  </mat-form-field>
  <button
    style="float: right; width: 200px;"
    color="accent"
    [disabled]="!signupForm.valid"
    mat-raised-button
    type="submit"
  >
    <span translate>Sign up</span>
  </button>
</form>
